a { color: #000000; }
body { background-color: #78e3be; }
#center { text-align: center; 
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);}
p { text-align: center; }