<html>
    <head>
        <title>CCA Manager</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h3> Please select what you would like to add:</h3>
        
        {% for x in entity_list %}
        <a href="/add/create?type={{ x }}"> {{ x }} </a>
        <br>
        {% endfor %}

        <br>
        <a href="/index"> Back to main menu </a>
       
    </body>
</html>

 <!-- choose btwn club & activity
redirect to /add/create


 <form action="/add/create" method="GET">
            <input type="submit" value="go to /add/create">
        </form>
-->