<html>
    <head>
        <title>Add_create</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
    <form method="POST" action="/add/result?type={{ entity_type }}">
    {% for name, label in field_labels.items() %}
        <label>{{ label }}:</label>
        {% if field_inputs.get(name) != None %}
        <input type="text" name="{{ name }}" value="{{ field_inputs.get(name) }}">
        {% else %}
        <input type="text" name="{{ name }}" value="">
        {% endif %}
        <br>
    {% endfor %}
    <input type="submit" value="Submit">
    </form>
    </body>
</html>

 

