<html>
    <head>
        <title>CCA Manager</title>
    </head>
    <body>
    <h3> Please enter the required infomation about your {{ entity_type.lower() }}:</h3>
        
    <form method="POST" action="/add/result?type={{ entity_type }}">
    {% for name, label in field_labels.items() %}
        <label>{{ label }}:</label>
        {% if field_inputs.get(name) != None %}
        <input type="text" name="{{ name }}" value="{{ field_inputs.get(name) }}">
        {% else %}
        <input type="text" name="{{ name }}" value="">
        {% endif %}
        <br>
    {% endfor %}
    <input type="submit" value="Submit">
    </form>
    </body>
</html>

 

