<html>
    <head>
        <title>CCA Manager</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="center">

        {% if entity_list != [] %}
        <form action="/delete/result" method="POST">
            <label> Please select a {{ entity_type }}: </label>

            <select name="name">
                {% for entity_name in entity_list %}
                <option value="{{ entity_name }}"> {{ entity_name }} </option>
                {% endfor %}
            </select>
            <input type="hidden" name="entity_type" value="{{entity_type}}">
            <input type="submit" value="Confirm">
        </form>
        {% else %}
        <h2> No {{ entity_type }} exists. </h2>
        {% endif %}
        </div>
        
        <div class="topnav">
    <a href="/index"> Main Menu</a>
    <a href="/add"> Add </a>
    <a href="/view"> View </a>
    <a href="/edit/select/type"> Edit </a>
    <a href="/delete"> Delete </a>
    </div>
    </body>
</html>