<html>
    <head>
        <title>CCA Manager</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    
    <body>
        <div id="center">
        <h3> Please select what you would like to edit:</h3>
    
        {% for entity in entity_names %}
        <a href="/edit/select/name?type={{ entity }}"> {{ entity }} </a>
        <br>
    {% endfor %}
        
        <br>
        <a href="/index"> Back to main menu </a>

        </div>
    </body>
</html>