<html>
    <head>
        <title>CCA Manager</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="center">
        {% if student_list != [] %}
        <form action="/edit/relationship?type={{entity_type}}&id={{id}}" method="POST">
            <label> Please select a student to edit: </label>

            <select name="name">
                {% for entity_name in student_list %}
                <option value="{{ entity_name }}"> {{ entity_name }} </option>
                {% endfor %}
            </select>
            <input type="submit" value="Confirm">
        </form>
        {% else %}
        <h2> No students are in the {{ entity_type }} to edit. </h2>
        {% endif %}
        
        <br>
        <a href="/edit?type={{entity_type}}&id={{id}}">Back to edit menu</a>

        </div>
    </body>
</html>

