<html>
    <head>
        <title>CCA Manager</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="center">
        <h3> What would you like to do?</h3>
        
        <a href="/edit/add?type={{entity_type}}&id={{id}}">Add student to {{ entity_type }}</a>
        <br>
        <a href="/edit/student?type={{entity_type}}&id={{id}}">Edit or Delete student in {{ entity_type }}</a>
        <br>
        <br>

        <h2> Current {{ entity_type }}: </h2>
        <table>
            {% for key, value in field_attributes.items() %}
            <tr>
                <th>{{ key }}</th>
                <td>
                {% if value == [] or value == "" %}
                    None
                {% else %}
                    
                {% if isinstance(value, list) %}
                    {{ ", ".join(value) }}
                {% else %}
                    {{ value }}
                {% endif %}
                    
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>

        </div>
    <div class="topnav">
    <a href="/index"> Main Menu</a>
    <a href="/add"> Add </a>
    <a href="/view"> View </a>
    <a href="/edit/select/type"> Edit </a>
    <a href="/delete"> Delete </a>
    </div>
    </body>
</html>

