<html>
    <head>
        <title>Edit_select_confirm</title>
    </head>
    <body>
        <h3> Is this correct? </h3>
        <br>
        <table>
            {% for key, value in field_attributes.items() %}
            <tr>
                <th>{{ key }}</th>
                <td>
                {% if isinstance(value, list) %}
                    {{ ", ".join(value) }}
                {% else %}
                    {{ value }}
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        
        <br>
        <a href="/edit?type={{ entity_type }}&id={{ id }}"> Yes </a>
        <br>
        <a href="/edit/select/name?type={{ entity_type }}"> No </a>
    </body>
</html>