<html>
    <head>
        <title>Edit_student</title>
    </head>
    <body>
        <form action="/edit/relationship?type={{entity_type}}&id={{id}}" method="POST">
            <label> Please select a student: </label>

            <select name="name">
                {% for entity_name in student_list %}
                <option value="{{ entity_name }}"> {{ entity_name }} </option>
                {% endfor %}
            </select>
            <input type="submit" value="Confirm">
    </body>
</html>

