<html>
    <head>
        <title>CCA Manager</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        
        {% if entity_list != [] %}
        <form action="/edit/select/confirm?type={{ entity_type }}" method="post">
            <label> Please select a {{ entity_type }}: </label>

            <select name="name">
                {% for entity_name in entity_list %}
                <option value="{{ entity_name }}"> {{ entity_name }} </option>
                {% endfor %}
            </select>
            <input type="submit" value="Confirm">
        </form>
        {% else %}
        <h2> No {{ entity_type }} exists. </h2>
        {% endif %}
        
        <br>
        <a href="/index"> Back to main menu </a>
    </body>
</html>