<html>
    <head>
        <title>CCA Manager</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="center">
        <h1>Club and Activity Manager</h1>
        <a href="/add">Add Club or Activity</a><br /><br>
        <a href="/view">View Students, Classes, Clubs or Activities</a><br /><br>
        <a href="/edit/select/type">Add and Edit Students in Clubs or Activities</a><br /><br>
        <a href="/delete">Delete Club or Activity</a><br /><br>

        </div>
    </body>
</html>